<!DOCTYPE html>
<html>

<head>
    <!-- Setting the title of the page -->
    <title>Home Page</title>

    <!-- Linking the page stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <!-- Setting the favicon of the page -->
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body>
    <header>
        <!-- Banner section of the page -->
        <div class="banner-container">
            <img src="/images/banner.png" alt="Banner">
        </div>
    </header>

    <!-- Navigation bar of the page -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/calculator">Calorie Calculator</a></li>
            <li><a href="/tracker">Nutrition Tracker</a></li>
            <li><a href="/gyms">Nearby Gyms</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/logout">Logout</a></li>

        </ul>
    </nav>

    <!-- Main content section of the page -->
    <div class="container">
        <h2>Home Page</h2>
        <p>Calorie Calculator: Estimate your daily calorie needs based on personal details and activity levels.</p>
        <p>Nutrition Tracker: Log and monitor daily food intake for a comprehensive understanding of your dietary nutrition.</p>
        <p>Nearby Gyms: Find fitness centers with our Nearby Gyms locator, guiding you to the closest workout spots.</p>
    </div>

    <!-- Script to show alert messages based on URL parameters -->
    <script>
        window.onload = function() {
            // Get the URL parameters
            var params = new URLSearchParams(window.location.search);

            // Check if the 'message' parameter is present
            if(params.has('message')) {
                // Display the message to the user
                alert(params.get('message'));
            }
        };
    </script>
</body>

</html>